body {
  margin: 0px;
  padding: 0px;
}
.header {
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 150px;
  box-shadow: 0 4px 6px 0 rgb(182, 181, 181);
  align-items: center;
  justify-content: center;
  gap: 200px;
}
/* .secondHeader {
} */
.logoAZ {
  margin-left: 60px;
}
.fullTitle {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 60px;
}
.menu :hover {
  text-decoration: overline;
  text-decoration-color: #37b461;
}
